In [13]:
from math import sqrt
from statistics import mean

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("CRISP/CSV/db/authors.csv")
df

                                               Authors
0    Cesar Falconi, Maximo Torero, Eduardo Maruyama...
1    Diogo Baptista, Mai Farid, Dominique Fayad, La...
2    Diogo Miguel Salgado Baptista, Mrs. Mai Farid,...
3    Food, Agriculture Organization of the United N...
4                                        Gabriel Pérez
..                                                 ...
916  Yiyi He, Stephan Thies, Paolo Avner, Jun Rents...
917  Zack Guido, Andrew Zimmer, Sara Lopus, Corrie ...
918             Zelda A.Elum, David M.Modise , AnaMarr
919  Zeufack, Albert G.; Calderon, Cesar; Kubota, M...
920  Zingore, Shamie, Mutegi, James, Agesa, Beverly...

[921 rows x 1 columns]

In [10]:
df.drop_duplicates(["Authors"])[["Authors"]].to_csv("test.csv")