In [1]:
from math import sqrt
from statistics import mean

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("test.csv")
df

                               Name
0                    A Bauer., 2008
1              A Crippa et al.,2022
2            A Innazent et al, 2022
3           A O Akinola et al.,2018
4               A Wudad et al.,2021
..                              ...
880          Zacharias et al., 2014
881  Zazueta-Gutiérrez et al., 2021
882           Zhai and Zhuang, 2009
883    Zingore, Shamie et al., 2015
884           Zougmore et al., 2016

[885 rows x 1 columns]

In [8]:
df.drop_duplicates(["Name"])[["Name"]].to_csv("test2.csv")